/*
/*/

!.aliases
!.ansible.cfg
!.bash_profile
!.git-completion.bash
!.gitattributes
!.gitignore
!.gitmodules
!.sops.yaml
!.zshrc

!.config/
!.gnupg/
!.inputrc
!.local/
!.oh-my-zsh
!.oh-my-zsh-custom/
!.pkgbuilds/
!.setup/
!.src/
!.ssh/
!.tmux/
!.zsh/
!ai/
!containers/
!work/
