*

!.gitignore
!Code/
!SpeedCrunch/
!alacritty/
!bat/
!code-flags.conf/
!delta/
!devcontainers/
!environment.d/
!eza/
!fzf/
!git/
!gnupg/
!hypr/
!lazygit/
!mako/
!mimeapps.list/
!nvchecker/
!nvim/
!rustfmt/
!swaylock/
!tmux/
!user-dirs.locale/
!uwsm/
!waybar/
!wofi/
