{
  "data": "ENC[AES256_GCM,data:hiAAv/kvkYBWjMj173+8UhTyW0e2TINhpq4/a/wJmvGLPa4JTwnxCjtiPlfJMQz0,iv:vZhMyMq/lUs+neauBD2pJfcaGtT+OVRVd36Igux4BWE=,tag:xOo7hYwfbs5Qj+pxE53v+w==,type:str]",
  "sops": {
    "kms": null,
    "gcp_kms": null,
    "azure_kv": null,
    "hc_vault": null,
    "age": null,
    "lastmodified": "2025-02-16T21:35:08Z",
    "mac": "ENC[AES256_GCM,data:0aUzTUZUD6bIwgOrAuY6huS8KQ5c5I2OPSfN2MnlcHw8P651WXIk4E1Lyuh2clJa/y2t2dv8KpC8NNm7qSMc81Lx2zreYCwFx0Th+Ylh+AF0qPHizT32YmlfY2qkxrIsb0/Z47VNMzQEiF4bjmUO4ToqKrw1xntCH5crIVu56mQ=,iv:WzMY6VW3GW2m5SuBfidug9257HlL4AkYoE5zQZaxkJk=,tag:qHQoep3br8yW9SXbr5pvDQ==,type:str]",
    "pgp": [
      {
        "created_at": "2025-02-16T21:35:08Z",
        "enc": "-----BEGIN PGP MESSAGE-----\n\nhF4DAAAAAAAAAAASAQdAy2a/nOEadg9aGcuzDFOWkzALvJvS0Gshs0WIdl19TCgw\nDO8OT7gxaOhTES/EkxKjpM5AxOSbkbEYhERY/kRvrucSbfaguDt/QCrDXBIyS2Yu\n0l4Bu1AAigdDEJR6rdbVJDzWZJvYF6Gm7MvZ9SP5rAj83BnzjzRJEUkSAXxLlatG\nggmdV2NI3Jb5UXgCTcwA4icGJ/RQ284pl2dh7lZC6gXeZKrUtrnGfP4tG5VLZtvC\n=uTud\n-----END PGP MESSAGE-----",
        "fp": "1F86464D595F2DCD5F6029B6E81D523E5DD412E2"
      }
    ],
    "unencrypted_suffix": "_unencrypted",
    "version": "3.9.1"
  }
}